<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="RestaurantSql" connectionString="Server=DCSERVERODENSE;Database=RestaurantBambooDB;User Id=sa;Password=Datait2021!"
         providerName="System.Date.SqlClient"/>
    <add name ="RestaurantSqlLocal" connectionString="Server=WLT02\SQLEXPRESS;Database=RestaurantBambooDB;User Id=sa;Password=Datait2021!"
         providerName="System.Date.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>