<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RestaurantSql" connectionString="Server=DCSERVERODENSE;Database=RestaurantBambooDB;User Id=sa;Password=Datait2021!" providerName="System.Date.SqlClient" />
    <add name="RestaurantSqlLocal" connectionString="Server=DESKTOP-ABFQ467;Database=RestaurantBambooDB;User Id=sa;Password=Datait2021!" providerName="System.Date.SqlClient" />
    <add name="RestaurantSqlHome" connectionString="Server=WLT02\SQLEXPRESS;Database=RestaurantBambooDB;User Id=sa;Password=Datait2021!" providerName="System.Date.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>